body {
  position: relative;
  background-color:  #38FF95;
  font-family: "Offside", serif;
}

main {

}

.flexbox{
    display: -webkit-flex;
    margin:auto;
    padding:auto;

    -webkit-flex-direction:row;
    -webkit-flex-flow:flex-start;
    margin:auto;
    padding:auto;
    justify-content:space-around;
    /*-webkit-flex infront of things to make it work in browser - chrome*/
}

}

h1 {
  font-family: "Offside", san-serif;
  font-size: 400%;

}

.poem {
  font-family: "Offside", san-serif;
  font-size: 200%;
}

#photo1 {
  width: 240px;
  border: 10px solid #FF7D68;
}

#photo2 {
  width: 240px;
  border: 10px solid #61C0E8;
}
#try-again-out {

}

#choice1 {

}

#choice2 {

}
